.placer {
  margin-top: 2%;
  display: flex;
  
  justify-content: center;
  
}


.form {

  width: 42%;
}

.container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

.actions {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex-grow: 1;
}

.mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.result {
  margin-top: 10px;
  width: 80%;
}